.capsule {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  margin: 5%;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}
body,
html {
  background-color: #f1f1f1;
  line-height: 1.5;
  margin: 0;
}

.ReadMore {
  border: 1px solid #ccc;
  padding: 12px 24px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.ReadMore:hover {
  background-color: rgb(158, 158, 158);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.2s;
}

.conteneur {
  margin: 20px;
  padding-bottom: 20px;
}

.titleDescription {
  font-weight: 400;
}

.comments {
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.TextNoir {
  color: white;
  background: #000;
  text-align: center;
  width: 50px;
  height: 50px;
}

.RondTexteNoir {
  color: white;
  background: #000;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

a,
h1,
h2,
h3,
button,
p {
  font-family: Raleway;
}

#PopPost {
  padding: 20px;
  background-color: #f1f1f1;
}
#PopPost h2 {
  font-weight: 300;
}
.post {
  display: flex;
}
.post img {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-top: 5em;
}

.post:hover {
  background-color: #cacaca;
  transition: ease;
  transition-duration: 0.4s;
}

.post h3 {
  font-weight: 400;
  font-size: 24px;
}
.post p {
  font-weight: 400;
  font-size: 18px;
}
.capsuleHeading h2 {
  font-size: 30px;
}

.capsuleHeading h3 {
  font-size: 24px;
  font-weight: 300;
  margin-left: 5px;
}

.capsuleHeading div {
  display: flex;
}
.sousTitre {
  opacity: 0.6;
}
p {
  font-size: 18px;
}

header h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  padding-top: 2vw;
}
header h3 {
  font-weight: 300;
  margin-left: 5px;
}

header div {
  display: flex;
  justify-content: center;
}
#unknown {
  color: white;
  background: #282936;
  text-align: center;
  width: 90px;
  height: 30px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
}

#tags p {
  margin-left: 10px;
  background-color: #f1f1f1;
}

footer {
  background-color: #616161;
  width: 100%;
  height: 350px;
}

#Previous {
  border: none;
  padding: 18px 30px;
  color: white;
  background-color: #474747;
  font-weight: 400;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 5px;
}
#Previous:hover {
  background-color: #a0a0a0;
  transition: ease-out;
  transition-duration: 0.3s;
}

#Next {
  border: none;
  padding: 18px 40px;
  color: white;
  background-color: #000;
  font-weight: 400;
  font-size: 20px;
  margin-top: 40px;
}

#Next:hover {
  background-color: #818181;
  transition: ease-out;
  transition-duration: 0.2s;
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    transition: ease;
    transition-duration: 2s;
  }
  .capsule:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    transition: ease;
    transition-duration: 2s;
  }
  .capsule:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    transition: ease;
    transition-duration: 2s;
  }
  .capsule:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
    transition: ease;
    transition-duration: 2s;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.btn-share {
  --btn-color: #275efe;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  bottom: 0px;
  margin: 20px;
}
.btn-share::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 35px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-share .btn-text,
.btn-share .btn-icon {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-share .btn-text {
  transition-delay: 0.05s;
}
.btn-share .btn-icon {
  margin-left: 8px;
  transition-delay: 0.1s;
}
.btn-share .social-icons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}
.btn-share .social-icons li {
  flex: 1;
}
.btn-share .social-icons li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-share .social-icons li a:hover {
  opacity: 0.5;
}
.btn-share:hover::before {
  transform: scale(1.2);
}
.btn-share:hover .btn-text,
.btn-share:hover .btn-icon {
  transform: translateY(-55px);
}
.btn-share:hover .social-icons li a {
  transform: translateY(0);
}
.btn-share:hover .social-icons li:nth-child(1) a {
  transition-delay: 0.15s;
}
.btn-share:hover .social-icons li:nth-child(2) a {
  transition-delay: 0.2s;
}
.btn-share:hover .social-icons li:nth-child(3) a {
  transition-delay: 0.25s;
}

@media only screen and (max-width: 1000px) {
  .comments {
    visibility: hidden;
  }
  header h2 {
    font-size: 124px;
  }
  header div {
    font-size: 36px;
  }
  #unknown {
    color: white;
    text-align: center;
    width: 210px;
    height: 70px;
    transition: ease;
    transition-duration: 2s;
  }
  #tags p {
    font-size: 36px;
    transition: ease;
    transition-duration: 2s;
  }

  .post img {
    width: 200px;
    height: 200px;
    margin: 35px;
    transition: ease;
    transition-duration: 2s;
  }
  .post h3 {
    font-size: 52px;
    position: relative;
    transition: ease;
    transition-duration: 2s;
  }
  .post p {
    font-size: 36px;
    position: relative;
    top: -50px;
    transition: ease;
    transition-duration: 2s;
  }
  #Next {
    border: none;
    padding: 36px 70px;
    font-size: 52px;
    transition: ease;
    transition-duration: 2s;
  }
  #Previous {
    border: none;
    padding: 36px 45px;
    font-size: 52px;
    transition: ease;
    transition-duration: 2s;
  }
  .capsule h2 {
    font-size: 72px;
    text-align: center;
    transition: ease;
    transition-duration: 2s;
  }

  .ReadMore {
    padding: 30px;
    font-size: 36px;
    margin: 30px;
    transition: ease;
    transition-duration: 2s;
  }
  .capsuleHeading h3 {
    font-size: 52px;
    transition: ease;
    transition-duration: 2s;
  }
  .capsuleHeading div {
    justify-content: center;
  }
  .btn-share {
    visibility: hidden;
  }
}

@import url("https://fonts.googleapis.com/css?family=Mukta:700");
produit {
  background-color: #616161;
  width: 100%;
  height: 350px;
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

#container button {
  position: absolute;

  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  top: -1%;
  margin: 4%;
}
#container button.learn-more {
  width: 12rem;
  height: auto;
}
#container button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
#container button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
#container button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
#container button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
#container button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
#container button:hover .circle {
  width: 100%;
}
#container button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
#container button:hover .button-text {
  color: #fff;
}
@supports (display: grid) {
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
